/*
----------
Colours
----------
*/

@primary-color: #020c18;
@secondary-color: #062041;
@white: #fff;

/*
----------
Mixins
----------
*/
.easeOut() {
  transition: all 0.5s ease-out;
}

.setTextColor(@primary-color) when (lightness(@primary-color) > 40) {
  @textColor: #000;
}
.setTextColor(@primary-color) when (lightness(@primary-color) =< 40) {
  @textColor: @white;
}
.setTextColor(@primary-color);

.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes))
  when
  (@index > 0) {
  .gradient(@type; @colors; @dir; @prefixes; (@index - 1));

  @prefix: extract(@prefixes, @index);
  @dir-old: 90 - (@dir);

  background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
    background-image: ~"@{type}-gradient(@{dir}, @{colors})";
  }
}
/*
----------
Variables
----------
*/
@show-home-image: true;
@background-opacity: 0.9;
@mediaSmMax: 500px;
@mediaMdMax: 768px;
@mediaLgMin: 769px;
@mediaLgMax: 1170px;
@mediaXlMin: 1171px;

/*
----------
Fonts
----------
*/
