.page {
  font-size: 40px;
  .title {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .byline {
    margin-bottom: 16px;
    margin-top: 0px;
  }
  .ingress {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .circle-one,
  .circle-two,
  .circle-three {
    transform-origin: 50% 50%;
    position: absolute;
    width: 700px;
    filter: grayscale(100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .triangle-one,
  .triangle-two,
  .triangle-three {
    transform-origin: 50% 50%;
    position: absolute;
    width: 300px;
    filter: grayscale(100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .square-one,
  .square-two,
  .square-three {
    transform-origin: 50% 50%;
    position: absolute;
    width: 300px;
    filter: grayscale(100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.right {
  text-align: right;
  margin-right: 16vw;
}

.left {
  margin-left: 16vw;
}
